$grey: #7f888f;
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 20%);

$green: #4bbf73;
$blue: #1f9bcf;
$red: #d9534f;

$primary: #111 !default;
$link: $grey;

$family-sans-serif: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$body-size: 16px;

$radius: 0;
$radius-small: $radius;

$navbar-height: 5rem;
$navbar-background-color: $primary;
$navbar-item-color: $grey;
$navbar-item-hover-color: #fff;
$navbar-item-active-color: #fff;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: $primary;
$navbar-dropdown-border-top: 1px solid lighten($primary, 10);
$navbar-divider-background-color: lighten($primary, 10);
$navbar-dropdown-item-active-color: #fff;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

$bulmaswatch-import-font: true !default;

$box-shadow: 0 0 0 1px $grey-lighter;
